body {
  display: flex;
  font-family: 'Mulish', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* sidebar */
nav {
  height: 100vh;
  min-width: 48px;
  background-image: linear-gradient(to bottom, #667, #585669);
  box-shadow: 0 0 4px rgba(10, 10, 10, 0.5);
  height: 100vh;
}

/* brand logo */
.brand {
  color: #fff;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 0 2px #444);
  font-family: 'Century Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-orientation: mixed;
  opacity: 0.85;
  padding: 10px 12px;
  user-select: none;
  writing-mode: vertical-rl;
  text-decoration: none;
}
.brand:hover {
  color: #fff;
  filter: drop-shadow(0 0 2px #333);
  opacity: 0.9;
  text-decoration: none;
}
.brand::before {
  content: '';
  background: url(logo.svg) no-repeat 0 center;
  background-size: 26px;
  height: 26px;
  width: 26px;
  margin-bottom: 10px;
}

#app {
  height: 100vh;
  display: flex;
  flex: 1;
}
