.headerText {
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
  text-overflow: clip;
  line-height: 1.5;
  vertical-align: middle;
}

:global(th:hover) .headerText {
  overflow: hidden;
  text-overflow: ellipsis;
} 