.headerText {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  vertical-align: middle;
  width: calc(100% - 20px);
}

:global(th:hover) .headerText {
  overflow: hidden;
  text-overflow: ellipsis;
}
