/* don't hover on mobile */
@media (hover: hover) {
  .table tbody tr:hover {
    background-color: #dbdbe5;
  }
  .table tbody tr:hover td {
    border-right-color: #bbb;
  }
  .table tbody tr:hover td:first-child {
    background-color: #ccd;
  }
}
