.hightable {
  & {
    display: flex;
    flex: 1;
    min-height: 0;
    position: relative;
  }
  & * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .table-scroll {
    flex: 1;
    overflow: auto;
    & > div {
      position: relative;

      table {
        position: absolute;
        max-width: 100%;
        overflow-x: auto;

        /* header */
        thead th {
          background-color: #fff;
          position: sticky;
          user-select: none;
          z-index: 10;
          top: 0;
        }

        /* cells */
        th,
        td {
          overflow: hidden;
        }
      }
    }
  }
}

/* styling */
.styled {
  table {
    border-collapse: separate;
    border-spacing: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    &:focus-visible {
      outline: none;
    }
    thead th {
      background-color: #f1f1f3;
      border: none;
      border-bottom: 2px solid #c9c9c9;
      box-sizing: content-box;
      color: #444;
      height: 20px;
      padding-top: 8px;
      top: -1px; /* fix 1px gap above thead */
    }
    tbody tr:first-child {
      td,
      th {
        border-top: 1px solid transparent;
      }
    }

    /* cells */
    th,
    td {
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      height: 32px;
      max-width: 2000px; /* prevent columns expanding */
      padding: 4px 12px;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
